fastapi
uvicorn

langchain
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai

sentence-transformers
faiss-cpu

pypdf
docx2txt
python-multipart

pydantic

# CPU-only PyTorch (SAFE)
torch==2.2.2


'''
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
'''